.prueba{
    width: 150px;
    height: 50px;
    position: relative;
    left: 0px;
    background-color: blanchedalmond;
}

.btn-bonito{
    background-color:  blue;
    border-radius: 30px;
    color: rgb(253, 253, 253);
    width: 100px;
    height: 50px;
    transition: 0.5s;
    padding: 10px;
    font-size: 30px;
    margin-top: 350px;
    border: none;
    margin-left: 785px;
    

}
.btn-bonito:hover{
    color: aliceblue;
    background-color: aqua;

}